[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
yapf = "*"
flake8 = "*"
pytest = "*"
sphinx = "*"

[packages]
setuptools = "*"

[requires]
python_version = "3.8"
