[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
v = {editable = true,version = "*"}
moto = "*"
pytest-mock = "*"
pytest-env = "*"
python-lambda-local = "*"

[packages]
setuptools = "*"
numpy = "*"
requests = "*"
pytz = "*"
configparser = "*"

[requires]
python_version = "3.8"
